-----BEGIN CERTIFICATE-----
MIIDnzCCAoegAwIBAgIURDty13f6OC/ezEcrduHr52YS1ZYwDQYJKoZIhvcNAQEL
BQAwXzEcMBoGA1UEAwwTRXVub21pYVByb3ZpZGVyLmNvbTEYMBYGA1UECgwPRXVu
b21pYVByb3ZpZGVyMQswCQYDVQQGEwJFUzEYMBYGA1UEYQwPVkFURVMtOTg3NjU0
MzIxMB4XDTI2MDYyODIwNDExMVoXDTI3MDYyODIwNDExMVowXzEcMBoGA1UEAwwT
RXVub21pYVByb3ZpZGVyLmNvbTEYMBYGA1UECgwPRXVub21pYVByb3ZpZGVyMQsw
CQYDVQQGEwJFUzEYMBYGA1UEYQwPVkFURVMtOTg3NjU0MzIxMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvPUwlErKOABtxymS4TFy/cwf1s81GuMIse2S
hKSdtx2/6Djht/bkduH/p3cUkiSsm7PtTrg/815QPsbwWD6Bfmi89XoWmYMHjIr6
CUOuI63bRcOEjEf2zoXBhrC+GebE+jJNs51PY6t1F0XR315Ks9j+gGK6u0lSIs2J
GWXPqTUvBySW8ixNL70chs89r+ftod4CjH62yhwb3bMVylkN3HbvVAYdEti3QgQy
pDTM15bJUoS+afVQPdH2V1mp7/aIcaDPHSTmq1HYA81sMefof57/DRVALkqpRO5D
khR91/xFjAtB81+JtrHsvs/GgIo7n2Rxz0fRruxVCPZPmUTC2wIDAQABo1MwUTAd
BgNVHQ4EFgQUn2QMA0QcIt03/Ib+dCM7yyv2G04wHwYDVR0jBBgwFoAUn2QMA0Qc
It03/Ib+dCM7yyv2G04wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AQEAgTCXkNRTqOexCISvUNkQMz7oXrN/To4FO4FeH/pz8fCgJstBpSn6hIdQ11y3
wqUuDUNF69P+dEtn3osJxWK9y3k2QB0tvk+iFxVVplvyKoIJzbA1Q9rgrD0W3tbx
Jq+U/k9kI79EkZSjNlZ6h4E0C6w/J7U2/Om2gRRkbz1a+dExqUO208J5y++840fF
VGpqkIvpTSr98v6J1zFAelQCuFp5DqygJg7uZTSTBcEbOAyEz6PY3X8BwtDGkJCr
uqedRVVLCaDCGNWg2JkqKJrfy/ym/XtbhugkVe7SjgqYkCK32yVg9MneAK2tUoiM
5VA0eePNgf6QOxSkcbzkUTjnpg==
-----END CERTIFICATE-----
