{
  "inner": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxOAwZZdCp0CGBA/m1UGG\nUWpC9Lrerbcl31nRhe8s77zGm8ip7aH+QnM5CKlJ5ayoP8JM/k+hUCEvCOj5l9Vc\na7D/57Q24IPKG7GPHggc6yllpdYgJEeclTqrFr7FPPqq8CC65YZ/KXFcpr8rFEQD\nPkdsx3mMjNF3AJM70ihB+tkN9lqpvKoHz32QhtrmXEcku/SmTYEMOFUM1wB5LN16\ncxg21ev02vFvUBbgVdCS4vhr3G6SL3gOeuswpYi6mM6zrYhcydh2ZF6BPFU1+M6O\nmpCFFwzHUV57j0rL+Dt9MIkQTZlWjndqUNdmDryrwA59O3KYVaf9re0uoPKvFRdf\ncwIDAQAB\n-----END PUBLIC KEY-----"
}