-----BEGIN CERTIFICATE-----
MIIDnzCCAoegAwIBAgIUR/OTUAK55CxIBfTt4xvIxb/OlWswDQYJKoZIhvcNAQEL
BQAwXzEcMBoGA1UEAwwTRXVub21pYUNvbnN1bWVyLmNvbTEYMBYGA1UECgwPRXVu
b21pYUNvbnN1bWVyMQswCQYDVQQGEwJFUzEYMBYGA1UEYQwPVkFURVMtMTIzNDU2
Nzg5MB4XDTI2MDYyODIwNDAwOFoXDTI3MDYyODIwNDAwOFowXzEcMBoGA1UEAwwT
RXVub21pYUNvbnN1bWVyLmNvbTEYMBYGA1UECgwPRXVub21pYUNvbnN1bWVyMQsw
CQYDVQQGEwJFUzEYMBYGA1UEYQwPVkFURVMtMTIzNDU2Nzg5MIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyq+v5wI4S619vJrHNjD45kkJ0Pl8TiAO6XNq
IsZ8H0ZLK9ObhY0SxkDCbeegvFVDSC33/67yUeZTXR6J1WPLGtsm+NuIrmGTUEX+
xP4ZqKTdEQ1RuEt0Lm1HmvGIXms+RkMtMV71Ekt23bdV3/MVN4T9GyZyZA0zD4eL
U1E4SG9Q0ix0aQl+zxglTTXCixU7BO4WptdiJwkBbwhLnujyqsJcoAzOSM4ivmfT
SUmXwCksX2I1qU3gUgmPamna+kvToqXeI883eE1dIcnPnwvbeFj/kLnCbk78c6Ed
Evt9PLkprMf/veqyYNZ0tZZXPc9sIQVS2PnqfCyEHlYen1sWrQIDAQABo1MwUTAd
BgNVHQ4EFgQUEoLH6Qs3RSx/avBv/8imCoofSKgwHwYDVR0jBBgwFoAUEoLH6Qs3
RSx/avBv/8imCoofSKgwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AQEABVO2xmtkV/iMkAhOTvgCC7YsMpr6jHVF7ZiDyaKDRFuGmDMVMd6nMXMl3w+T
BBPqxT3iUidGpevOdPfsF+RtJZ+D2omt+K1gX/J6u4ZGhyNRPLkonjX54Qu2NPHE
1hn9jVmRaacS3YSn6ANptr3w09n+QwW54FF1c2AL2mGLFZhz/JDNQ4mW5uugVTS5
L2grQDy8Zn6kiK8M4fFSFN7DlpUUSP1Ow6fYmUyKHBOoygNai168zfp8P/orgzcg
zgXgoPK9WdYxD8sGPotaftB/JWIu8epB83Tg4lrh8fiTfUGzWdqQYp9pzYBmcrYc
FgGOpA1hO7FRVm4Lnu/j6zmTfQ==
-----END CERTIFICATE-----
